.Header {
  font-family: "Anton", sans-serif;
  height: inherit;
  width: inherit;
}
.contentHeader {
  height: 100vh;
  position: absolute;
  width: 50vw;
  top: 20vh;
}
Typography {
  font-family: "Anton", sans-serif;
}
